name: Dependencies Example
on: 
  workflow_dispatch:

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: |
          mkdir -p test-results
          npm test
      - run: zip -r app_bundle.zip . -x "*.git*" ".github/*" "test-results/*"
      - name: Better Test Reports Action
        uses: mridang/action-test-reporter@v1.7.0
