name: Dependencies Example
on: 
  workflow_dispatch:

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: |
          mkdir -p test-results
          npm test -- --coverage
      - run: zip -r app_bundle.zip . -x "*.git*" ".github/*" "test-results/*"
      - name: Code Coverage Report
        uses: mridang/action-test-reporter@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-file: ./coverage/clover.xml # Path to your clover, cobertura, jacoco, or lcov file
          working-directory: ./
